@font-face{
  font-family: Kanit-Bold;
  src: url(../fonts/Kanit-Bold.ttf);
  font-style: normal;
  font-variant:initial;
}   
@font-face{
  font-family: Kanit-Light;
  src: url(../fonts/Kanit-Light.ttf);
  font-style: normal;
  font-variant:initial;
}   
@font-face{
  font-family: Kanit-Medium;
  src: url(../fonts/Kanit-Medium.ttf);
  font-style: normal;
  font-variant:initial;
}   
@font-face{
  font-family: Kanit-Regular;
  src: url(../fonts/Kanit-Regular.ttf);
  font-style: normal;
  font-variant:initial;
}    

/* transition: .33s all ease-out;  */

a:hover{
  text-decoration: none;
}  
   
@media only screen and (max-width: 991px) { /* MOBILE */
  .mb-x{
    display: none !important;
  }  
}
@media only screen and (min-width: 992px) { /* PC */
  .pc-x{
    display: none !important;
  }  
}


body{ 
  background-position: center !important;
  background-size: 100% auto !important;
  background-repeat: no-repeat !important;
  height: 100vh;
}
body.home{
  background: url(../images/bg1.png); 
  overflow: hidden;
}
body.download{
  background: url(../images/bg2.png); 
  overflow: hidden;
}
body.news{
  background: url(../images/bg4.png); 
  overflow: hidden;
}
.d-after{
  content: "";
  position: absolute;
  background: #292929;
  opacity: 0.3;
  backdrop-filter: blur(12.5px);
  width: 100%;
  height: calc(100vh); 
  top: 0;
  z-index: 4;
}
.d-after2{ 
  position: absolute;
  background: linear-gradient(270deg, #000000 27.37%, rgba(19, 19, 19, 0) 100%);
  width: 100%;
  height: calc(100vh); 
  z-index: 5;
}
.download-bg{ 
  position: absolute;
  background-position: center !important;
  background: url(../images/bg2-2.png); 
  background-size: 100% auto !important;
  background-repeat: no-repeat !important; 
  height: calc(100vh); 
  width: 100%;
  z-index: 5;
}
header{  
  position: relative;
  border-top: 34px solid rgba(0, 0, 0, 0.8); 
  z-index: 11;
}
body.home header{ 
  height: 217px;  
  background: rgba(0, 0, 0, 0.6);
}
.navbar .navbar-collapse{
  padding-left: 100px;
  padding-right: 100px;
}
.navbar {  
  padding: 0px;
  z-index: 12;
} 
.navbar .navbar-collapse .navbar-nav .nav-item{  
  margin-left: 25px;
  margin-right: 25px;
} 
.navbar .navbar-collapse .navbar-nav .nav-item .nav-link{  
  color: #3C3C3C;
  font-family: Kanit-Regular;
  transition: .33s all ease-out;
  border-top: 2px solid transparent;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
} 
.navbar .navbar-collapse .navbar-nav .nav-item.active .nav-link{  
  color: #D6D6D6; 
  border-top: 2px solid #337E36;
} 
.navbar .navbar-collapse .navbar-nav .nav-item:hover .nav-link{  
  color: #D6D6D6; 
  border-top: 2px solid #337E36;
} 

footer{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 65px;
  border-top: 1px solid #374137;
  z-index: 11;
}
footer ul{
  display: flex;
  justify-content: center;
  width: 100%;
  list-style: none;
}
footer ul li{
  display: inline-block;
  margin-left: 30px;
  margin-right: 30px;
  position: relative;
}
footer ul li a{
  color: #374137;
  font-size: 13px;
  font-family: Kanit-Regular;
  transition: .33s all ease-out;
  position: relative;
  line-height: 40px;
  cursor: default;
}
footer ul li::before{
  content: "";
  position: absolute;
  background-color: #374137;
  width: 9px;
  height: 9px;
  left: 45%;
  top: -6px;
  border-radius: 100%;
  z-index: 4;
}
footer ul li.active a{ 
  color: #65E46A;  
}
footer ul li.active:after{
  content: "";
  position: absolute;
  background-color: #337E36;
  margin-left: -95px;
  width: 125px;
  height: 1px; 
  left: 0;
  border: 1px solid #337E36;
  z-index: 2;
}
footer ul li a p{ 
  display: none; 
}
footer ul li.active a p{
  font-family: Kanit-Regular;
  font-size: 12px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 40%;
  top: -17px;
  width: 15px;
  height: 15px; 
  position: absolute;
  border-radius: 100%;
  background: #337E36;
  border: 1px solid #65E46A;
  z-index: 5;
}
.social-media{
  line-height: 30px;
  margin-top: 20px;
  margin-left: 140px;
  z-index: 13;
  position: relative;
}
.social-media h3{
  color: #515151;
  font-family: Kanit-Regular;
  font-size: 20px;
  margin-bottom: 15px;
}
.social-media a img{
  width: 41px;
  margin-right: 40px;
}
main{
  padding-left: 140px; 
  padding-right: 140px;
  margin-top: 30px; 
  position: relative;
  z-index: 20;
}
.vid{
  width: 100%; 
  background-position: center !important;
  background-size: 100% 100% !important;
  background-repeat: no-repeat !important;
  background-size: contain;
  background: url(../images/slide.png); 
  padding: 20px 30px 25px;
  position: relative;
  z-index: 11;
}

.video {
  width: 100%;
  border: 1px solid black;
  border-radius: 5px; 
}
.wrapper{
  display:table;
  width:auto;
  position:relative; 
}
.playpause {
  background-image:url(../images/play.png);
  background-repeat:no-repeat;
  width:116px;
  height:116px;
  position:absolute;
  left:0%;
  right:0%;
  top:0%;
  bottom:0%;
  margin:auto;
  background-size:contain;
  background-position: center;
}
.arrow-l{
  background: url(../images/arrow3.png);
  background-repeat: no-repeat !important; 
  background-position: center !important;
  background-size: 33px 66px !important;
  position: fixed;
  left: 0; 
  top: 50%;   
  width: 33px;
  z-index: 111;
  height: 66px;
  margin-left: 40px;
}
.arrow-l.active{
  background: url(../images/arrow2.png); 
}
.arrow-r{
  background: url(../images/arrow.png);
  background-repeat: no-repeat !important; 
  background-position: center !important;
  background-size: 33px 66px !important;
  position: fixed;
  right: 0; 
  top: 50%;   
  width: 33px;
  z-index: 111;
  height: 66px;
  margin-right: 40px;
}
.arrow-r.active{
  background: url(../images/arrow.png); 
}
.home-character{
  overflow: hidden;
  position: absolute;
  width: 680px;
  z-index: 11;
  margin-top: -150px;
}
.home-box1{ 
  width: 100%;
  z-index: 13;
  position: absolute;
  top: 0;
}
.home-box2{  
  width: 100%;
  z-index: 13;
  position: absolute;
  bottom: 0;
  margin-bottom: 10%;
  display: flex;
  justify-content: center;
}
.btn-home{
  width: 329px;
  height: 72px; 
  background: url(../images/brush.png);
  background-repeat: no-repeat !important; 
  background-position:  center center !important;
  background-size: 100% auto !important;
  display: flex;
  justify-content: center;
  font-family: Kanit-Regular; 
  font-size: 20px; 
  color: #D6D6D6;
  line-height: 55px;
  margin: 0px 20px;
  transition: .33s all ease-out; 
}
.btn-home img{
  height: 32px;
  margin-right: 15px;
  margin-top: 15px;
}
.btn-home:hover{
  color: #fff;
  opacity: .75;
}  
.download-spec { 
  background: url(../images/dl-bg2.png) , url(../images/dl-bg3.png);
  background-repeat: no-repeat , no-repeat !important; 
  background-position:  center , center !important;
  background-size: 100% auto , 100% auto !important;
  padding: 10px 15px 20px;
  margin-bottom: 50px;
}
.download-spec ul{
  list-style: none;
  padding-left: 0px;
}
.download-spec ul li{
  font-size: 16px;
  line-height: 24px; 
  font-family: Kanit-Regular; 
  color: #65E46A;
}
.download-spec ul li.active{ 
  color: #487A47;
}
.download-spec ul li span{ 
  color: #B0B5BA;
}
.download-spec ul li span{ 
  color: #B0B5BA;
}
.download-spec ul li span span{ 
  color: #A6965F;
}
.download-spec h3{ 
  font-family: Kanit-Regular; 
  font-size: 24px;
  line-height: 36px; 
  color: #B0B5BA;
}
.download-spec h3{ 
  font-family: Kanit-Regular; 
  font-size: 24px;
  line-height: 36px; 
  color: #B0B5BA;
}
.download-spec h3.active{ 
  color: #65E46A;
}
.box-file-download{
  background: url(../images/dl-border.png) , url(../images/dl-bg1.png);
  background-repeat: no-repeat , no-repeat !important; 
  background-position:  center , center !important;
  background-size: auto 100%  , auto 100%  !important; 
  margin-bottom: 30px;
  min-height: 370px; 
  padding: 25px 50px;
  text-align: center;
  position: relative; 
} 
.box-file-download h3{
  font-family: Kanit-Regular; 
  font-size: 20px;
  line-height: 30px; 
  color: #D6D6D6; 
  margin-bottom: 35px;
}
.box-file-download h3 span{ 
  color: #337E36; 
}
.box-file-download img{
  width: 160px;
}
.box-file-download h5{
  font-family: Kanit-Regular; 
  font-size: 20px;
  line-height: 30px; 
  color: #D6D6D6;  
  margin-top: 35px;
}
.box-file-download h6{
  font-family: Kanit-Regular; 
  font-size: 16px;
  line-height: 24px; 
  color: #DFBF4C;  
}
.btn-download{
  width: 329px;
  height: 72px; 
  background: url(../images/brush.png);
  background-repeat: no-repeat !important; 
  background-position:  center center !important;
  background-size: 100% auto !important; 
  font-family: Kanit-Regular; 
  font-size: 24px; 
  color: #D6D6D6;
  line-height: 55px; 
  transition: .33s all ease-out; 
  position: absolute;
  left: 0;
  bottom: -10px;
}
.btn-download:hover{
  color: #fff;
  opacity: .75;
} 
.btn-full{
  width: 290px;
  height: 44px; 
  background: url(../images/brush-full.png);
  background-repeat: no-repeat !important; 
  background-position:  center center !important;
  background-size: 100% auto !important; 
  font-family: Kanit-Regular; 
  font-size: 24px; 
  color: #D6D6D6;
  line-height: 36px;  
  margin-bottom: 25px;  
} 
.file-program{
  list-style: none;
  padding-left: 0;
  width: 100%;
  padding: 0px 35px;
}
.file-program li{
  background: url(../images/list-bg1.png);
  background-repeat: no-repeat !important; 
  background-position:  center center !important;
  background-size: 100% 59px !important; 
  height: 59px;
  width: 100%;
  margin-bottom: 10px;
  padding-left: 100px;
  padding-top: 15px;
  position: relative;
}
.file-program li span{
  padding-left: 30px;
  padding-right: 30px;
}
.file-program li span{ 
  font-family: Kanit-Regular; 
  font-size: 20px; 
}
.file-program li span:nth-child(2){ 
  color: #D6D6D6;
}
.file-program li span:nth-child(3){ 
  color: #A6965F;
}
.file-program li span:nth-child(4){ 
  color: #D6D6D6;
}
.file-program li a{ 
  position: absolute;
  right: 0;
  padding-right: 25px; 
  font-family: Kanit-Regular;  
  font-size: 20px; 
  text-decoration-line: underline; 
  color: #65E46A;
  transition: .33s all ease-out;
}
.file-program li a:hover{  
  color: #337E36; 
}
.file-program li img{ 
  position: absolute;
  left: 0;
  padding-left: 25px;
  height: 19px;
  top: 20px;
}