@font-face{
  font-family: Kanit-Bold;
  src: url(../fonts/Kanit-Bold.ttf);
  font-style: normal;
  font-variant:initial;
}   
@font-face{
  font-family: Kanit-Light;
  src: url(../fonts/Kanit-Light.ttf);
  font-style: normal;
  font-variant:initial;
}   
@font-face{
  font-family: Kanit-Medium;
  src: url(../fonts/Kanit-Medium.ttf);
  font-style: normal;
  font-variant:initial;
}   
@font-face{
  font-family: Kanit-Regular;
  src: url(../fonts/Kanit-Regular.ttf);
  font-style: normal;
  font-variant:initial;
}     
@font-face{
  font-family: Athiti-Regular;
  src: url(../fonts/Athiti-Regular.ttf);
  font-style: normal;
  font-variant:initial;
}     
@font-face{
  font-family: Athiti-SemiBold;
  src: url(../fonts/Athiti-SemiBold.ttf);
  font-style: normal;
  font-variant:initial;
}        
@font-face{
  font-family: BebasNeue-Regular;
  src: url(../fonts/BebasNeue-Regular.ttf);
  font-style: normal;
  font-variant:initial;
}    



a:hover{
  text-decoration: none;
}  
   
@media only screen and (max-width: 991px) { /* MOBILE */
  .mb-x{
    display: none !important;
  }  
}
@media only screen and (min-width: 992px) { /* PC */
  .pc-x{
    display: none !important;
  }  
}


body{ 
  height: 100vh;
}
body.home{
  background: url(../images/d-after2.png) , url(../images/d-after.png)   , url(../images/bg1.png) ; 
  background-size: 100% auto , 100% auto , 100% auto  !important;
  background-position: center , center , center !important;
  background-repeat: no-repeat , no-repeat , no-repeat !important;
  overflow: hidden;
} 
body.download{
  background: url(../images/bg2-2.png) , url(../images/d-after.png)   , url(../images/bg2.png) ; 
  background-size: 100% auto , 100% auto , 100% auto  !important;
  background-position: center , center , center !important;
  background-repeat: no-repeat , no-repeat , no-repeat !important;
  overflow: hidden;
}
body.news{
  background: url(../images/bg2-2.png) , url(../images/d-after.png)   , url(../images/bg4.png) ; 
  background-size: 100% auto , 100% auto , 100% auto  !important;
  background-position: center , center , center !important;
  background-repeat: no-repeat , no-repeat , no-repeat !important;
  overflow: hidden;
} 
body.login{
  background: url(../images/login-bg1.png)  , url(../images/bg2-2.png)  , url(../images/bg-login.png) ; 
  background-size: 80%  auto , 100% auto  , 100% auto  !important;
  background-position: left center , center , center top !important;
  background-repeat: no-repeat , no-repeat , no-repeat !important;
  overflow: hidden;
}  
body.game-info{
  background: url(../images/bg2-2.png) , url(../images/d-after.png)   , url(../images/game-info2.png) ; 
  background-size: 100% auto , 100% auto , 100% auto  !important;
  background-position: center , center , center !important;
  background-repeat: no-repeat , no-repeat , no-repeat !important;
  overflow: hidden;
}   
body.account-info{
  background: url(../images/login-bg1.png)  , url(../images/bg2-2.png)  , url(../images/bg-account.png) ; 
  background-size: 90%  100% ,   100% 100% ,  100% 100% !important;
  background-position: left top , center , center  !important;
  background-repeat: no-repeat , no-repeat , no-repeat !important; 
  height: 100%;
}  
body.account-info-tele{
  background: url(../images/login-bg1.png)  , url(../images/bg2-2.png)  , url(../images/wallpaperbetter-acc.png) ; 
  background-size: 100%  100% ,  100% 100% , auto 100%  !important;
  background-position: right top , center , center right !important;
  background-repeat: no-repeat , no-repeat , no-repeat !important;  
  height: 100%;
}  
body.news-info{
  background: url(../images/mid-page1.png) , url(../images/mid-page2.png) , url(../images/bg-bot-in.png) , url(../images/bg-info.png) ; 
  background-size: 100% 343px , 100% auto , 100% auto , 101% auto  !important;
  background-position: center 389px , bottom center , center 529px , top center   !important;
  background-repeat:  no-repeat , no-repeat , no-repeat , no-repeat !important;  
  height: 100%;
  overflow: unset !important;
}   
 
body.refill{
  background: url(../images/wallpaperbetter2.png) ; 
  background-size: 100% auto !important;
  background-position: top center  !important;
  background-repeat: no-repeat !important;  
  height: 100%;
}  
/* url(../images/mid-page2.png)   url(../images/bg-info.png) ,  */


header{  
  position: relative; 
  padding-top: 34px;
  z-index: 11;
}
body header{ 
  height: 98px;   
  background-position: top center !important;
  background: url(../images/bg2-2.png); 
  background-size: 100% auto !important;
  background-repeat: no-repeat !important; 
} 
body.home header{  
  margin-bottom: 120px;
}
body.news header{  
  margin-bottom: 50px;
}
body.game-info header{  
  margin-bottom: 80px;
}
.navbar .navbar-collapse{
  padding-left: 100px;
  padding-right: 100px;
}
.navbar {  
  padding: 0px;
  z-index: 12;
} 
.navbar .navbar-collapse .navbar-nav .nav-item{  
  margin-left: 25px;
  margin-right: 25px;
} 
.navbar .navbar-collapse .navbar-nav .nav-item .nav-link{  
  color: #3C3C3C;
  font-family: Kanit-Regular;
  transition: .33s all ease-out;
  border-top: 2px solid transparent;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
} 
.navbar .navbar-collapse .navbar-nav .nav-item.active .nav-link{  
  color: #D6D6D6; 
  border-top: 2px solid #337E36;
} 
.navbar .navbar-collapse .navbar-nav .nav-item:hover .nav-link{  
  color: #D6D6D6; 
  border-top: 2px solid #337E36;
} 
.navbar .navbar-collapse .navbar-nav .nav-item.active2 .nav-link{  
  color: #365235;  
} 


footer{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 65px;
  border-top: 1px solid #374137;
  z-index: 33;
}
footer ul{
  display: flex;
  justify-content: center;
  width: 100%;
  list-style: none;
}
footer ul li{
  display: inline-block;
  margin-left: 30px;
  margin-right: 30px;
  position: relative;
}
footer ul li a{
  color: #374137;
  font-size: 13px;
  font-family: Kanit-Regular;
  transition: .33s all ease-out;
  position: relative;
  line-height: 40px;
  cursor: default;
}
footer ul li::before{
  content: "";
  position: absolute;
  background-color: #374137;
  width: 9px;
  height: 9px;
  left: 45%;
  top: -6px;
  border-radius: 100%;
  z-index: 4;
}
footer ul li.active a{ 
  color: #65E46A;  
}
footer ul li.active:after{
  content: "";
  position: absolute;
  background-color: #337E36;
  margin-left: -95px;
  width: 125px;
  height: 1px; 
  left: 0;
  border: 1px solid #337E36;
  z-index: 2;
}
footer ul li a p{ 
  display: none; 
}
footer ul li.active a p{
  font-family: Kanit-Regular;
  font-size: 12px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 40%;
  top: -17px;
  width: 15px;
  height: 15px; 
  position: absolute;
  border-radius: 100%;
  background: #337E36;
  border: 1px solid #65E46A;
  z-index: 5;
} 
.social-mediaf{
  position: absolute;
  right: 0;
  bottom: 10px; 
} 
.social-mediaf a img{
  width: 36px;
  margin-right: 30px;
}


.social-media{
  line-height: 30px;
  margin-top: 20px;
  margin-left: 140px;
  z-index: 13;
  position: relative;
}
.social-media h3{
  color: #515151;
  font-family: Kanit-Regular;
  font-size: 20px;
  margin-bottom: 15px;
}
.social-media a img{
  width: 41px;
  margin-right: 40px;
}
main{
  padding-left: 140px; 
  padding-right: 140px;
  margin-top: 30px; 
  position: relative;
  z-index: 20;
}
.vid{
  width: 100%; 
  background-position: center !important;
  background-size: 100% 100% !important;
  background-repeat: no-repeat !important;
  background-size: contain;
  background: url(../images/slide.png); 
  padding: 20px 30px 25px;
  position: relative;
  z-index: 11;
}

.video {
  width: 100%;
  border: 1px solid black;
  border-radius: 5px; 
}
.wrapper{
  display:table;
  width:auto;
  position:relative; 
}
.playpause {
  background-image:url(../images/play.png);
  background-repeat:no-repeat;
  width:116px;
  height:116px;
  position:absolute;
  left:0%;
  right:0%;
  top:0%;
  bottom:0%;
  margin:auto;
  background-size:contain;
  background-position: center;
}
.arrow-l{
  background: url(../images/arrow3.png);
  background-repeat: no-repeat !important; 
  background-position: center !important;
  background-size: 33px 66px !important;
  position: fixed;
  left: 0; 
  top: 50%;   
  width: 33px;
  z-index: 111;
  height: 66px;
  margin-left: 40px;
}
.arrow-l.active{
  background: url(../images/arrow2.png); 
}
.arrow-r{
  background: url(../images/arrow.png);
  background-repeat: no-repeat !important; 
  background-position: center !important;
  background-size: 33px 66px !important;
  position: fixed;
  right: 0; 
  top: 50%;   
  width: 33px;
  z-index: 111;
  height: 66px;
  margin-right: 40px;
}
.arrow-r.active{
  background: url(../images/arrow.png); 
}
.home-character{
  overflow: hidden;
  position: absolute;
  width: 680px;
  z-index: 11;
  margin-top: -150px;
}
.home-box1{ 
  width: 100%;
  z-index: 13;
  position: absolute;
  top: 0;
}
.home-box2{  
  width: 100%;
  z-index: 13;
  position: absolute;
  bottom: 0;
  margin-bottom: 10%;
  display: flex;
  justify-content: center;
}
.btn-home{
  width: 329px;
  height: 72px; 
  background: url(../images/brush.png);
  background-repeat: no-repeat !important; 
  background-position:  center center !important;
  background-size: 100% auto !important;
  display: flex;
  justify-content: center;
  font-family: Kanit-Regular; 
  font-size: 20px; 
  color: #D6D6D6;
  line-height: 55px;
  margin: 0px 20px;
  transition: .33s all ease-out; 
}
.btn-home img{
  height: 32px;
  margin-right: 15px;
  margin-top: 15px;
}
.btn-home:hover{
  color: #fff;
  opacity: .75;
}  
.download-spec { 
  background: url(../images/dl-bg2.png) , url(../images/dl-bg3.png);
  background-repeat: no-repeat , no-repeat !important; 
  background-position:  center , center !important;
  background-size: 100% auto , 100% auto !important;
  padding: 10px 15px 20px;
  margin-bottom: 50px;
}
.download-spec ul{
  list-style: none;
  padding-left: 0px;
}
.download-spec ul li{
  font-size: 16px;
  line-height: 24px; 
  font-family: Kanit-Regular; 
  color: #65E46A;
}
.download-spec ul li.active{ 
  color: #487A47;
}
.download-spec ul li span{ 
  color: #B0B5BA;
}
.download-spec ul li span{ 
  color: #B0B5BA;
}
.download-spec ul li span span{ 
  color: #A6965F;
}
.download-spec h3{ 
  font-family: Kanit-Regular; 
  font-size: 24px;
  line-height: 36px; 
  color: #B0B5BA;
}
.download-spec h3{ 
  font-family: Kanit-Regular; 
  font-size: 24px;
  line-height: 36px; 
  color: #B0B5BA;
}
.download-spec h3.active{ 
  color: #65E46A;
}
.box-file-download{
  background: url(../images/dl-border.png) , url(../images/dl-bg1.png);
  background-repeat: no-repeat , no-repeat !important; 
  background-position:  center , center !important;
  background-size: auto 100%  , auto 100%  !important; 
  margin-bottom: 30px;
  min-height: 370px; 
  padding: 25px 50px;
  text-align: center;
  position: relative; 
} 
.box-file-download h3{
  font-family: Kanit-Regular; 
  font-size: 20px;
  line-height: 30px; 
  color: #D6D6D6; 
  margin-bottom: 35px;
}
.box-file-download h3 span{ 
  color: #337E36; 
}
.box-file-download img{
  width: 160px;
}
.box-file-download h5{
  font-family: Kanit-Regular; 
  font-size: 20px;
  line-height: 30px; 
  color: #D6D6D6;  
  margin-top: 35px;
}
.box-file-download h6{
  font-family: Kanit-Regular; 
  font-size: 16px;
  line-height: 24px; 
  color: #DFBF4C;  
}
.btn-download{
  width: 329px;
  height: 72px; 
  background: url(../images/brush.png);
  background-repeat: no-repeat !important; 
  background-position:  center center !important;
  background-size: 100% auto !important; 
  font-family: Kanit-Regular; 
  font-size: 24px; 
  color: #D6D6D6;
  line-height: 55px; 
  transition: .33s all ease-out; 
  position: absolute;
  left: 0;
  bottom: -10px;
}
.btn-download:hover{
  color: #fff;
  opacity: .75;
} 
.btn-full{
  width: 290px;
  height: 44px; 
  background: url(../images/brush-full.png);
  background-repeat: no-repeat !important; 
  background-position:  center center !important;
  background-size: 100% auto !important; 
  font-family: Kanit-Regular; 
  font-size: 24px; 
  color: #D6D6D6;
  line-height: 36px;  
  margin-bottom: 25px;  
} 
.file-program{
  list-style: none;
  padding-left: 0;
  width: 100%;
  padding: 0px 35px;
}
.file-program li{
  background: url(../images/list-bg1.png);
  background-repeat: no-repeat !important; 
  background-position:  center center !important;
  background-size: 100% 59px !important; 
  height: 59px;
  width: 100%;
  margin-bottom: 10px;
  padding-left: 100px;
  padding-top: 15px;
  position: relative;
}
.file-program li a i{
  display: none;
}
.file-program li span{
  padding-left: 30px;
  padding-right: 30px;
}
.file-program li span{ 
  font-family: Kanit-Regular; 
  font-size: 20px; 
}
.file-program li span:nth-child(2){ 
  color: #D6D6D6;
}
.file-program li span:nth-child(3){ 
  color: #A6965F;
}
.file-program li span:nth-child(4){ 
  color: #D6D6D6;
}
.file-program li a{ 
  position: absolute;
  right: 0;
  padding-right: 25px; 
  transition: .33s all ease-out;
} 
.file-program li a span{  
  font-family: Kanit-Regular;  
  font-size: 20px; 
  text-decoration-line: underline; 
  color: #65E46A !important;
}
.file-program li a:hover{  
  color: #337E36; 
}
.file-program li img{ 
  position: absolute;
  left: 0;
  padding-left: 25px;
  height: 19px;
  top: 20px;
}
.login-box{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh; 
  padding: 0px 50px 50px;
}
.login-box img.logo{
  max-height: 200px; 
  margin-top: -60px !important;
}
.login-box h1{ 
  text-align: center;
  font-family: Kanit-Regular;  
  font-size: 32px;
  line-height: 48px; 
  text-transform: uppercase; 
  color: #487A47;
  margin-bottom: 20px;
}
.login-box form label{
  font-family: Kanit-Regular;  
  font-size: 20px;
  line-height: 30px; 
  color: #B0B5BA;
}
.login-box form input{
  font-family: Kanit-Regular;   
  height: 52px; 
  background: url(../images/border-text1.png) #0A100A;
  background-repeat: no-repeat !important; 
  background-position:  center center !important;
  background-size: 100% 52px !important; 
  border: none;
  border-radius: 0px;
  margin-bottom: 20px;
}
.login-box form input:focus{ 
  outline: 2px solid #337E36;
  background: url(../images/border-text1.png) #0A100A;
}
.login-box form .forgot{
  text-align: center;
  font-family: Kanit-Regular;   
  font-size: 20px;
  line-height: 30px; 
  text-decoration-line: underline; 
  color: #487A47;
}
.login-box form .btn{
  width: 100%; 
  background-repeat: no-repeat !important; 
  background-position:  center center !important;
  background-size: 100% auto !important; 
  text-align: center;
  font-family: Kanit-Regular;  
  display: block; 
  font-size: 24px;
  line-height: 36px; 
  color: #D6D6D6;
  transition: .33s all ease-out;
}
.login-box form .btn-login{ 
  background: url(../images/login-btn1.png); 
}
.login-box form .btn-register{ 
  background: url(../images/login-btn2.png); 
  color: #929792;
}

.login-box form .btn:hover{ 
  opacity: .75;
}
.login-box form .btn-facebook{ 
  background: url(../images/facebook-btn1.png); 
  color: #D6D6D6;
}
.login-box form .btn-facebook img{ 
  height: 25px;
  margin-top: -5px;
}
.login .login-box form .social-media img{
  margin-left: 25px;
  margin-right: 25px;
}
small{
  position: absolute;
  z-index: 111;
  text-align: center;
  width: 100%;
  bottom: 0;
  margin-bottom: 5px; 
  font-size: 12px;
  line-height: 18px; 
  color: #365235;
  font-family: Kanit-Regular;   
}
small span{ 
  color: #636364;  
}
.tabs-news{
  border: none;
  border-bottom: 0px;
} 
.tabs-news li{
  width: 20%;
  height: 40px; 
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  border-radius: 0px !important;
} 
.tabs-news li a{ 
  height: 40px; 
  background-repeat: no-repeat !important; 
  background-position:  center center !important;
  background-size: 100% auto !important; 
  background: url(../images/plate-menu1.png); 
  background-color: transparent !important;
  border-radius: 0px !important;
  border: none;font-size: 16px;
  line-height: 24px;
  font-family: Kanit-Regular;   
  color: #549556;
}  
.tabs-news li a.active{ 
  background-color: transparent !important; 
  border: none; 
  color: #fff !important;
  background: url(../images/plate-menu2.png); 
}
.tabs-news li a:hover{ 
  background-color: transparent !important; 
  border: none; 
  color: #fff !important;
  background: url(../images/plate-menu2.png); 
}
.tabs-news li:first-child{ 
  padding-left: 0px; 
}
.tabs-news li:last-child{ 
  padding-right: 0px; 
}
.news-ul{
  padding-left: 0px;
  list-style: none;
  margin-top: 30px;
}
.news-ul li{
  display: flex;
  position: relative; 
  padding-bottom: 12px;
  padding-top: 12px;
  background-repeat: no-repeat !important; 
  background-position:  bottom center !important;
  background-size: 100% 1px !important; 
  background: url(../images/line5.png); 
}
.news-ul li div:nth-child(1){ 
  font-size: 15px;
  line-height: 22px;
  font-family: Kanit-Regular;    
  color: #549556;
  margin-right: 30px;
} 
.news-ul li div:nth-child(2) a{ 
  font-family: Kanit-Regular; 
  font-size: 15px;
  line-height: 22px; 
  color: #AFC0AF;
}
.news-ul li div:nth-child(3){
  position: absolute;
  right: 0;
  font-family: Kanit-Regular;   
  font-size: 15px;
  line-height: 22px; 
  color: #AFC0AF; 
}
.img-view{
  background-repeat: no-repeat !important; 
  background-position: center !important;
  background-size: 100% 100% !important; 
  background: url(../images/slide1.png);  
  height: 410px;
  padding: 21px 21px 27px;
}
.img-view img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.img-patch{
  height: 170px;
  background-repeat: no-repeat !important; 
  background-position: center !important;
  background-size: 100% 100% !important; 
  background: url(../images/new-border1.png);  
  padding: 4px;
  margin-top: 20px;
  margin-bottom: 10px;
} 
.img-patch h5{
  font-family: Kanit-Regular;   
  font-size: 14px;
  line-height: 21px; 
  color: #6A6A6A;
  margin-top: 5px;
}
.character-box > div > div{
  padding-left: 50px;
  padding-right: 50px;
}
.img-character{
  height: 116px;
  width: 116px;
  background-repeat: no-repeat !important; 
  background-position: center !important;
  background-size: 116px 116px !important; 
  background: url(../images/new-border1.png);  
  padding: 4px;
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 10px;
} 
.img-character img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.character-des{
  background-repeat: no-repeat !important; 
  background-position: top right !important;
  background-size: 1px auto !important; 
  background: url(../images/line1.png);   
} 
.character-des h3{
  background-repeat: no-repeat !important; 
  background-position: center !important;
  background-size: auto 76px !important; 
  background: url(../images/Charac-bg1.png);  
  height: 76px; 
  font-size: 40px;
  line-height: 48px; 
  color: #D6D6D6;
  font-family: BebasNeue-Regular;    
  text-transform: uppercase;
  padding: 14px 26px;
} 
.character-des p{ 
  font-family: Kanit-Regular;  
  font-weight: 400;
  font-size: 20px;
  line-height: 200.5%; 
  color: #7C7A7A;
}
img.character1{
  height: 540px;
}
.vid2{
  width: 100%; 
  background-position: center !important;
  background-size: 100% 100% !important;
  background-repeat: no-repeat !important;
  background-size: contain;
  background: url(../images/clip-bg1.png); 
  padding: 12px 11px 10px 13px;
  position: relative;
  z-index: 11;
}

.vid2 .video {
  width: 100%;
  border: 1px solid black;
  border-radius: 0px; 
}
.wrapper{
  display:table;
  width:auto;
  position:relative; 
}
.playpause {
  background-image:url(../images/play.png);
  background-repeat:no-repeat;
  width: 38px;
  height: 38px;
  position:absolute;
  left:0%;
  right:0%;
  top:0%;
  bottom:0%;
  margin:auto;
  background-size:contain;
  background-position: center;
}
.account-info main{
  margin-top: 35px;
} 
.accountx h6{
  width: 238px;
  font-size: 12px;
  line-height: 18px; 
  font-family: Kanit-Regular;  
  letter-spacing: 0.16em;
  text-transform: capitalize; 
  color: #918B77;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 20px;
}



.accountx h1{
  background-repeat: no-repeat !important;
  background-position: left center !important;
  background-size: auto 56px !important;
  background: url(../images/Charac-bg2.png);
  height: 56px;
  font-size: 32px;
  line-height: 28px;
  color: #D6D6D6;
  font-family: Kanit-Regular;
  text-transform: uppercase;
  padding: 14px 26px;
  margin-bottom: 35px;
}
.accountx .p-account{
  background-repeat: no-repeat !important;
  background-position: center bottom !important;
  background-size: 238px auto !important;
  background: url(../images/permission1.png);
  width: 238px;
  height: 75px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 16px;
  line-height: 34px; 
  font-family: Kanit-Regular; 
  letter-spacing: 0.16em;
  text-transform: uppercase; 
  color: #FFF96F; 
} 
.accountx .profile{
  width: 100%;
  height: 137px;
  padding: 28px 21px;
  background-repeat: no-repeat !important;
  background-position: center bottom !important;
  background-size: 100% 137px !important;
  background: url(../images/list-bg2.png) ;
}
.accountx .profile > .row div{
  position: relative;
  background-repeat: no-repeat !important;
  background-position: center right  !important;
  background-size: auto 100% !important;
  background: url(../images/line3.png);   
}
.accountx .profile > .row div:last-child{ 
  background: unset !important;   
}
.accountx .profile > .row div h4{
  text-align: center; 
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px; 
  color: #65E46A;
  font-family: Kanit-Regular;  
}
.accountx .profile > .row div h5{
  text-align: center;
  font-family: Kanit-Regular;  
  font-weight: 400;
  font-size: 20px;
  line-height: 30px; 
  color: #B4B4B4;

}
.accountx .profile > .row div:first-child{  
  position: relative;
  padding-left: 125px;
}
.accountx .profile > .row div:first-child img{ 
  position: absolute;
  left: 20px;
  top: 0;
  width: 81px;
  height: 81px;
} 
.accountx .profile > .row div:first-child h3{  
  position: relative; 
  font-family: Kanit-Regular;  
  font-size: 20px;
  line-height: 30px; 
  color: #B4B4B4;

}
.accountx .profile > .row div:first-child h4{  
  position: relative; 
  font-family: Kanit-Regular;  
  font-size: 20px;
  line-height: 30px; 
  color: #5C5C5C;
  text-align: left !important;
}
.subtract{ 
  margin-top: 25px;
  font-size: 36px;
  line-height: 95px;
  font-family: BebasNeue-Regular;
  padding-left: 135px;
  position: relative;
  background-repeat: no-repeat !important;
  background-position: center  !important;
  background-size: 100% 95px !important;
  height: 95px;
  margin-bottom: 30px;
}
.subtract .box{ 
  position: absolute; 
  left: 25px;
  top: 7px;  
}
.subtract img{  
  width: 55px;
  height: 55px; 
  margin-bottom: 5px;
  display: block;
  margin: auto;
}
.subtract.bg1{ 
  background: url(../images/Subtract1.png);   
  color: #436874;
}
.subtract.bg2{ 
  background: url(../images/Subtract2.png);   
  color: #968137;
}
.subtract h4{   
  margin-top: 5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px; 
  color: #436874;
  text-align: center;
}
.subtract.bg1 h4{    
  color: #436874; 
}
.subtract.bg2 h4{    
  color: #968137; 
}
.accountx .des{
  position: relative;
  background-repeat: no-repeat !important;
  background-position: center right  !important;
  background-size:  100% auto !important;
  background: url(../images/clip-bg2.png);   
  height: 232px;
  padding: 30px 60px;
}
.accountx .des p{ 
  font-weight: 400;
  font-size: 16px;
  line-height: 24px; 
  color: #B0B5BA;
  font-family: Kanit-Regular;
  margin-bottom: 24px;
}  
.accountx .des p span{ 
  float: right;
  color: #337E36;
} 
.accountx hr{
  background-repeat: no-repeat !important;
  background-position: center right  !important;
  background-size:  100% auto !important;
  background: url(../images/line5x.png);    
  height: 2px;
  margin-top: 25px;
  margin-bottom: 25px;
}
.accountx .tablex{ 
  padding: 5px 50px 30px;
  background-repeat: no-repeat !important;
  background-position: center  !important;
  background-size: auto 100% !important;
  background: url(../images/clip-bg3.png);    
}  
.accountx .tablex h3{ 
  font-size: 16px;
  line-height: 24px; 
  color: #728573;
  font-family: Kanit-Regular; 
  margin-bottom: 10px;
}    
.accountx .tablex .table thead tr th{
  border-bottom: 0px;
  border-top: 0px;
  background: transparent;
  font-weight: 400;
  font-size: 13px;
  line-height: 19px;
  font-family: Kanit-Regular;  
  color: #374137;
  text-align: center;
  vertical-align: middle;

}
.accountx .tablex .table tbody tr{
  background: rgba(30, 40, 31, 0.78);
  border-radius: 5px;
  margin-top: 5px;
}
.accountx .tablex .table tbody tr td{
  border-bottom: 0px;
  border-top: 0px;
  padding: 8px 5px !important;
  font-family: Athiti-Regular;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 19px; 
  text-align: center;
  vertical-align: middle;
} 
.accountx .tablex .table tbody tr td:first-child{
  border-top-left-radius: 5px !important;
  border-bottom-left-radius: 5px !important; 
}
.accountx .tablex .table tbody tr td:last-child{
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important; 
}
.accountx .tablex .table tbody tr td:nth-child(1){
  color: #898989;
}
.accountx .tablex .table tbody tr td:nth-child(3){
  color: #898989;
}
.accountx .tablex .table tbody tr td:nth-child(4){
  color: #898989;
}
.accountx .tablex .table tbody tr td:nth-child(5){
  color: #998960;
}
.accountx .tablex .table tbody tr td:nth-child(6){
  color: #696969;
}
.accountx .tablex .table tbody tr td.type1{
  color: #FF773D;
}
.accountx .tablex .table tbody tr td.type2{
  color: #65E46A;
} 
.accountx .tablex .table tbody tr td.type3{
  color: #FF543D;
} 
.accountx .tablex .table tbody tr td.type4{
  color: #59B8ED;
}
 
.account-info main + small{
  position: relative;
  margin-bottom: 20px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.nav-user{
  margin-right: 0px !important;
} 
.nav-user .btn{
  color: #65E46A !important;
  font-size: 20px;
  line-height: 30px; 
  color: #65E46A; 
}
.nav-user .btn:active{
  outline: none !important;
  box-shadow: none !important;
} 
.nav-user .btn:focus{
  outline: none !important;
  box-shadow: none !important;
}

.nav-user .btn:focus{
  outline: none !important;
  box-shadow: none !important;
}
.nav-user .dropdown-menu{
  background: #1E1E1E;
}
.nav-user .dropdown-menu .dropdown-item{
  color: #fff;
}
.nav-user .dropdown-menu .dropdown-item:hover{
  color: #65E46A;
  background: #030303;
}
.subtract {
  padding-left: 90px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.subtract img {
  width: 40px;
  height: 40px; 
}
.subtract h4 { 
  font-size: 12px; 
}
.accountx .profile{
  height: auto;
}
.border-acc{
  background-repeat: no-repeat !important;
  background-position: right  center !important;
  background-size: auto 100% !important;
  background: url(../images/linex3.png);     
  margin-bottom: 100px;
  min-height: 722px;
}
.accountx.mb-0 h1{
  margin-bottom: 0px !important;
} 
.main-acc{
  padding-right: 80px;
  cursor: pointer;
}
.head-acc{
  position: relative;
  margin-top: 20px;
}
.head-acc .img-h{ 
  position: absolute;
  height: 70px;
  width: 70px;
  top: 0;
  left: 0;
  background-repeat: no-repeat !important;
  background-position: right  center !important;
  background-size: 70px 70px !important;
  background: url(../images/new-border3.png);   
}
.head-acc .img-h img{
  padding: 5px;
  object-fit: cover;
  margin-bottom: 10px;
  height: 100%;
}
.head-acc h3{
  padding-left: 90px;
  font-size: 20px;
  line-height: 40px;
  font-family: Kanit-Regular;  
  color: #728573; 
}
.head-acc .health-bar{ 
  height: 16px;
  background-repeat: no-repeat !important;
  background-position: right  center !important;
  background-size: 100% 16px !important;
  background: url(../images/health-bar1.png);   
  margin-left: 90px;
  margin-right: 110px;

}
.head-acc .health-bar div{ 
  height: 16px;
  background-repeat: no-repeat !important;
  background-position: right  center !important;
  background-size: 100% 16px !important;
  background: url(../images/health-status.png);   
}
.head-acc .health-bar div h5{ 
  position: absolute;
  right: 55px;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px; 
  color: #738573;
  font-family: Kanit-Regular;  
}

.head-acc .bt{ 
  top: 35px;
  right: 0;
  position: absolute;
  width: 29px;
  height: 31px;  
  background-repeat: no-repeat !important;
  background-position: right  center !important;
  background-size: 29px 31px !important;
  background: url(../images/refill-bg3.png);   
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-acc .bt.active img {
  transform: rotate(180deg);
}
.main-acc .detail{
  margin-top: 30px; 
  display: none;
}
.main-acc .bt.active + .detail {
  display: block; 
}
.main-acc .detail ul{
  padding-left: 0px;
  list-style: none;
}
.main-acc .detail ul li{
  font-weight: 400;
  font-size: 16px;
  line-height: 24px; 
  color: #5B5E61;
  font-family: Kanit-Regular;  
}
.main-acc .detail ul li span{
  float: right;
  font-family: Kanit-Regular;  
  font-weight: 400;
  font-size: 16px;
  line-height: 24px; 
  color: #738573;
} 
.account-info-tele main + small{
  position: relative;
  margin-bottom: 15px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto; 
  padding-bottom: 15px;
}
.main-cha{
  padding-left: 100px;
  padding-right: 100px;
  position: relative;
}
.main-cha .sub-cha{
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 363px; 
  margin-top: 30px;
}
.main-cha .sub-cha h3{
  font-family: Kanit-Regular;  
  font-weight: 400;
  font-size: 14px;
  line-height: 21px; 
  color: #738573; 
  text-align: center;
  margin-top: 40px;
}


.bootstrap-select.select-type { 
  border-radius: 5px;
  height: 36px;  
  background: url(../images/border-text3.png);
  background-repeat: no-repeat !important;
  background-position: right  center !important;
  background-size: 363px 35px !important;
  width: 100%;
  height: 35px;
  text-align: center;
}
.bootstrap-select.select-type .dropdown-menu.inner { 
  font-size: 12px;
  line-height: 15px; 
  color: #FFFFFF;
  font-family: Kanit-Regular;
  text-align: center;
}
.bootstrap-select.select-type .dropdown-menu {
  background-color: #37843A;
  text-align: center;
}
.bootstrap-select.select-type .dropdown-item {
  font-size: 12px;
  line-height: 15px; 
  color: #FFFFFF;
  font-family: Kanit-Regular;
  text-align: center;
}
.bootstrap-select.select-type .dropdown-item:hover { 
  color: #fff; 
  text-align: center;
  background-color: #030303;
}
.bootstrap-select .btn{
  font-family: Kanit-Regular;
  font-size: 12px;
  line-height: 20px; 
  color: #FFFFFF;
  background: url(../images/border-text3.png);
  background-repeat: no-repeat !important;
  background-position: right  center !important;
  background-size: 100% 35px !important;
  width: 100%;
  height: 35px;
  border: 1px solid rgba(255, 255, 255, 0.22);
  border-radius: 0px;
  height: 36px;  
  font-family: Kanit-Regular;
  text-align: center;
} 
.btn-light:not(:disabled):not(.disabled).active, .btn-light:not(:disabled):not(.disabled):active, .show>.btn-light.dropdown-toggle { 
  color: #fff; 
  background: url(../images/border-text3.png);
  background-repeat: no-repeat !important;
  background-position: right  center !important;
  background-size: 100% 35px !important;
  width: 100%;
  height: 35px;
  border: 1px solid rgba(255, 255, 255, 0.22);
}
.bootstrap-select .btn .filter-option-inner-inner{
  text-align: center;font-size: 10px;
  line-height: 22px; 
  color: #374137;
  font-size: 14px;
}
.main-cha .gc{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  height: 31px;
  width: 395px; 
  background: url(../images/list-bg4.png);
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 100% 31px !important;
  padding: 3px 14px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-family: Kanit-Regular; 
  color: #DFBF4C;
  margin-bottom: 50px;
}
.main-cha .gc span{
  float: right;
} 
.main-cha .btn-log{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 156px;
  height: 33px;
  font-family: Kanit-Regular;   
  background: url(../images/login-btn1.png);
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 100% 33px !important;
  font-size: 16px;
  line-height: 24px; 
  color: #D6D6D6;
}
.main-cha h2{
  font-weight: 600;
  font-size: 15px;
  line-height: 24px; 
  text-transform: capitalize; 
  color: #BF9898; 
  font-family: Kanit-Regular;  
  margin-top: 30px;
}
.main-cha h2 span{ 
  color: #A74A4A; 
}
.main-new-info{
  margin-top: 300px;
  display: block;
  width: 971px;
  margin-left: auto;
  margin-right: auto;
}
.main-new-info h1{
  width: 416px;
  height: 63px;
  background: url(../images/Charac-bg2x.png);
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 416px 63px !important;
  font-size: 40px;
  line-height: 60px; 
  text-transform: uppercase;
  font-family: Kanit-Regular;  
  color: #D6D6D6;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.main-new-info h2{ 
  margin-top: 93px;
  font-family: Kanit-Regular;   
  font-weight: 600;
  font-size: 36px;
  line-height: 54px; 
  text-transform: uppercase; 
  color: #D6D6D6;
  text-align: center;
  margin-bottom: 25px;
}
.clip-bg{
  height: 396px;
  background: url(../images/clip-bg3x.png);
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 100% auto !important;
  margin-bottom: 90px;
  padding: 11px 19px 13px 32px;
  margin-bottom: 90px;
}
.clip-bg img{
  object-fit: cover;
}

.main-new-info h3{
  width: 326px;
  height: 45px;
  background: url(../images/text-header1.png);
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 326px 45px !important;
  font-size: 24px;
  line-height: 44px;
  text-transform: uppercase;
  font-family: Kanit-Regular;  
  color: #D6D6D6; 
  margin-bottom: 30px;
  padding-left: 11px;
}

.main-new-info p{
  font-family: Kanit-Regular; 
  margin-bottom: 50px;
  font-size: 14px;
  line-height: 328%; 
  text-transform: capitalize; 
  color: #B0B5BA;

}
.cash-box{
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px; 
}
.cash-box .m{
  display: block;
  margin-left: auto;
  margin-right: auto; 
  position: relative;
} 
.cash-box .m h4{
  font-family: Kanit-Regular;  
  width: 77px;
  height: 30px;
  background: url(../images/plate-menu21.png) ,#0E160F  ;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 77px 30px !important;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px; 
  text-transform: capitalize; 
  color: #65E46A;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto; 
  margin-bottom: 10px;
  position: relative;
  z-index: 3;
} 
.cash-box .m::before{ 
  content: "";
  top: 15px;
  width: 131px;
  left: 100px;
  height: 1px;
  position: absolute;
  background: url(../images/line10.png) ;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 131px 1px !important;
  z-index: 2;
  overflow: hidden;
}
.cash-box .m:last-child::before{  
  background: unset !important;  
}

.cash-box .m .img{ 
  width: 126px;
  height: 126px;
  background: url(../images/acc-bg1.png);
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 126px 126px !important;
  padding: 6px;
}
.cash-box .m h5{ 
  text-align: center;
  font-family: Kanit-Regular;  
  font-size: 14px;
  line-height: 21px; 
  text-transform: capitalize; 
  color: #65E46A;
  margin-top: -15px;
  margin-bottom: 0px;
}
.cash-box .m h6{ 
  text-align: center;
  font-family: Kanit-Regular;  
  font-size: 14px;
  line-height: 21px; 
  text-transform: capitalize; 
  color: #D6D6D6; 
}
.cash-box .m.lock::after{ 
  content: "";
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: url(../images/lock1.png);
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 42px 51px !important;
}
hr.lix6{
  background: url(../images/line6.png);
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 100% 1px !important; 
}
.logo-w2{
  display: block;
  margin: auto;  
  max-width: 100%;
  height: auto;
  height: 190px;
  margin-top: -20px;
}
.footer h5{
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  text-align: center; 
  color: #D6D6D6;
  font-family: Kanit-Regular; 
}
.footer h5 a{ 
  color: #6395DF; 
}
.footer h6{ 
  font-family: Kanit-Regular; 
  color: #65E46A;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  text-align: center; 
} 

.news-info main + small {
  position: relative;
  margin-bottom: 15px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 15px;
}
.login footer{
  border: none !important;
}
.nav-item.nav-refill .btn{
  color: #3C3C3C;
  font-family: Kanit-Regular; 
  border-top: 2px solid transparent;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px; 
  border-radius: 0px;
}
.nav-item.nav-refill.active .btn{ 
  color: #fff;
  border-top: 2px solid #337E36;
}
.nav-item.nav-refill:hover .btn{ 
  color: #fff;
  border-top: 2px solid #337E36;
}
.nav-item.nav-refill .dropdown-menu{ 
  background: #1E1E1E; 
}
.nav-item.nav-refill .dropdown-menu .dropdown-item{ 
  color: #fff;
  font-family: Kanit-Regular;   
}
.nav-item.nav-refill .dropdown-menu .dropdown-item:hover{  
  color: #65E46A;
  background: #030303;  
}

.refill main > .container{
  max-width: 777px;
  display: block;
  margin: 50px auto auto auto;
}
.main-refilll h1{
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  font-family: Kanit-Regular;   
  color: #D6D6D6;
  text-align: center;
  margin-bottom: 25px;
}
.main-refilll  .pay-type{
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-refilll  .pay-type .btn{ 
  width: 157px;
  height: 43px; 
  margin-left: 10px;
  margin-right: 10px;
  padding: 3px;
  background: url(../images/refill-bg-31.png);
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 157px 43px !important; 
  border-radius: 0px;
}
.main-refilll .pay-type .btn img{ 
  max-height: 37px;
} 
.main-refilll .pay-type .btn:hover{  
  background: url(../images/refill-bg-31.png) ,  #317934 !important; 
} 
.main-refilll hr.hr1{  
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  height: 1px;
  background: url(../images/line13.png);
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 100% 1px !important; 
} 
.main-refilll h2{
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  font-family: Kanit-Regular;    
  color: #549556;
  text-align: center;
  margin-bottom: 45px;
}
.main-refilll input{ 
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 430px; 
  font-family: Kanit-Regular;   
  height: 42px; 
  background: url(../images/border-text1.png) #0A100A;
  background-repeat: no-repeat !important; 
  background-position:  center !important;
  background-size: 430px 42px !important; 
  border: none;
  border-radius: 0px;
  margin-bottom: 20px;
  text-align: center;
  color: #394938;
  font-size: 14px;
  line-height: 21px;
}
.main-refilll input::placeholder{  
  font-family: Kanit-Regular;    
  text-align: center;
  color: #394938;
}
.main-refilll input:active{ 
  background-color: #000000;
}
.main-refilll input:focus{ 
  background-color: #000000;
  box-shadow: none;
}

.main-refilll .btn-log {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 156px;
  height: 33px;
  font-family: Kanit-Regular;
  background: url(../images/login-btn1.png);
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 100% 33px !important;
  font-size: 16px;
  line-height: 24px;
  color: #D6D6D6;
}
.main-refilll hr.hr2{  
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  height: 1px;
  background: url(../images/line15.png);
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 100% 1px !important; 
}
.main-refilll h3{
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-family: Kanit-Regular;    
  color: #549556;
  text-align: center;
  margin-bottom: 5px;
}
.main-refilll .exchange{
  font-family: Kanit-Regular;  
  padding-top: 24px;
  width: 525px;
  height: 84px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background: url(../images/acc-bg2.png);
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 525px 84px !important; 
  font-size: 24px;
  line-height: 36px; 
  color: #738573;
}
.main-refilll .exchange img{
  height: 14px;
  margin-left: 45px;
  margin-right: 45px;
} 
.main-refilll h2{
  font-weight: 600;
  font-size: 15px;
  line-height: 24px; 
  text-transform: capitalize; 
  color: #BF9898; 
  font-family: Kanit-Regular;  
  margin-top: 30px;
}
.main-refilll h2 span{ 
  color: #A74A4A; 
}

.main-refilll h5 {
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #D6D6D6;
  font-family: Kanit-Regular;
}

.main-refilll h5 {
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #D6D6D6;
  font-family: Kanit-Regular;
}
.main-refilll h5 a {
  color: #6395DF;
}
.main-refilll h6 {
  font-family: Kanit-Regular;
  color: #65E46A;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

/* 
  transition: .33s all ease-out;   
  font-family: Kanit-Regular;  
  font-family: BebasNeue-Regular;
  xXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  xXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  xXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  xXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  xXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  
*/

@media only screen and (max-width: 991px) { /* MOBILE */
  main {
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 30px;
    position: relative;
    z-index: 20;
  } 
  body header{
    height: 75px;
    margin-bottom: 0px !important;
    z-index: 111 !important;
  }
  body.home header{
    margin-bottom: 0px !important;
  }
  body.home{
    background: url(../images/d-after2.png) , url(../images/d-after.png) , url(../images/bg1.png) ; 
    background-size: auto 100% , auto  100% , auto  100%  !important;   
  } 
  body.download{
    background: url(../images/bg2-2.png) , url(../images/d-after.png) , url(../images/bg2.png) ; 
    background-size: auto 100% , auto  100% , auto  100%  !important; 
    overflow: hidden;
  }
  body.news{
    background: url(../images/bg2-2.png) , url(../images/d-after.png) , url(../images/bg4.png) ; 
    background-size: auto 100% , auto  100% , auto  100%  !important; 
    overflow: hidden;
  } 
  body.login{
    background: url(../images/login-bg1.png)  , url(../images/bg2-2.png) , url(../images/bg-login.png) ; 
    background-size: auto 80%   , auto 100%   , auto 100%   !important;
    background-position: left center , center , center top !important;
    background-repeat: no-repeat , no-repeat , no-repeat !important;
    overflow: hidden;
  }  
  body.game-info{
    background: url(../images/bg2-2.png) , url(../images/d-after.png) , url(../images/game-info2.png) ; 
    background-size: auto 100% , auto  100% , auto  100%  !important; 
    overflow: hidden; 
  }  
  header{  
    position: relative; 
    padding-top: 34px;
    z-index: 11;
  } 
  body.download{ 
    height: 100% !important; 
    overflow: unset !important;
  }
  body.game-info{ 
    height: 100% !important; 
    overflow: unset !important;
  }
  body.news{ 
    height: 100% !important;
    overflow: unset !important;
  } 
  .home-character { 
    width: 90%; 
    margin-top: 40px;
  }  
  header { 
    padding-top: 0px; 
  }
  .navbar-brand{
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -10px;
    height: 90px;
  } 
  .navbar-toggler{
    position: absolute;
    right: 10px;
    top: 15px;
    z-index: 222 !important;
  }
  .navbar-toggler:focus{
    outline: none !important;
  }
  .navbar-toggler i{
    color: #337E36;
    font-size: 24px;
  }
  .navbar .navbar-collapse {
    position: relative;
    padding-left: 0px;
    padding-right: 0px;
    background-color: #000000;
    z-index: 111 !important;
    margin-top: 75px;
    padding-bottom: 20px;
  }
  .navbar .navbar-collapse .navbar-nav .nav-item.active .nav-link {
    color: #337E36;
    border-top: 0px solid #337E36;
    font-family: Kanit-Bold;
  }
  .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
    color: #fff;
    border-top: 0px solid #337E36;
    font-family: Kanit-Light;
  }
  .navbar .navbar-collapse .navbar-nav .nav-item.active2 .nav-link {
    color: #fff;
  }
  .navbar .navbar-collapse .navbar-nav .nav-item {
    margin-left: 0px; 
  }
  .login-box { 
    height: 100%;
    padding: 0px;
  }
  .login-box img.logo {
    max-height: 120px;
    margin-top: -60px !important;
  }
  .login-box > div{
    width: 100%;
  }
  .vid { 
    padding: 10px; 
  }
  .home-box1 {
    width: 100%;
    z-index: 13;
    position: relative;
    top: 120px;
  }
  .home-box2 {
    width: 100%;
    z-index: 13;
    position: relative;
    bottom: -100px;
    margin-bottom: 10%;
    display: flex;
    justify-content: center;
  }
  .btn-home {
    width: 100%;
    height: 52px; 
    background-position: center !important;
    background-size: 100% auto !important;
    display: flex;
    justify-content: center;
    font-family: Kanit-Regular;
    font-size: 16px;
    color: #D6D6D6;
    line-height: 34px;
    margin: 0px;
    transition: .33s all ease-out;
  }
  .btn-home img {
    height: 20px;
    margin-right: 5px;
    margin-top: 10px;
  }
  .arrow-l{ 
    top: 50%;
    width: 20px;
    height: 40px;
    background-size: 20px 40px !important;
    z-index: 111;
    height: 40px;
    margin-left: 10px;
  }
  .arrow-r{ 
    top: 50%;
    width: 20px;
    height: 40px;
    background-size: 20px 40px !important;
    z-index: 111;
    margin-right: 10px;
  }
  .btn-full { 
    font-size: 20px; 
  }
  .box-file-download { 
    min-height: 300px; 
  }
  .box-file-download h3 { 
    margin-bottom: 15px;
  }
  .box-file-download img {
    width: 130px;
  } 
  .box-file-download h5 { 
    font-size: 16px;  
    margin-top: 20px;
  }
  .btn-download {
    width: 100%;
    height: 72px; 
    position: relative;
  }
  .file-program li { 
    background-size: 100% 40px !important;
    height: 40px;
    width: 100%;
    margin-bottom: 10px;
    padding-left: 30px;
    padding-top: 10px; 
  }
  .file-program li img { 
    padding-left: 10px; 
    top: 15px;
    height: 11px;
  }
  .file-program li span {
    padding-left: 0px;
    padding-right: 5px;
    font-size: 12px;
  }
  .file-program li span:nth-child(3) {
    font-size: 8px;
  }
  .file-program li a{
    padding-right: 10px;
    font-size: 16px;
  }
  .file-program li a i{
    display: block;
    color: #65E46A;
  }
  .file-program li a span{  
    display: none;
  }
  .download-spec { 
    margin-bottom: 20px;
  }
  .img-view{
    height: 200px;
    padding: 10px;
  }
  .news-ul li div:nth-child(1) { 
    margin-right: 10px;
  }
  .news-ul li div:nth-child(2) { 
    margin-right: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 70px;
    color: #AFC0AF;
  }
  .tabs-news li { 
    padding-left: 5px !important;
    padding-right: 5px !important; 
  }
  .tabs-news li {
    width: 25%; 
  }
  img.character1 {
    height: unset;
    width: 100%;
  }
  .character-des h3 { 
    background-size: auto 70px !important;
    background: url(../images/Charac-bg1.png);
    height: 70px;
    font-size: 30px;
    line-height: 48px; 
    padding: 12px 19px;
  }
  .character-des p { 
    font-size: 16px;
    line-height: 20px; 
  }
  footer ul{
    display: none !important;
  }  
  footer{
    position: relative;
  }  
  footer small{
    position: absolute;
    display: flex;
    margin-top: 50px;
    justify-content: center;
    z-index: 2322;
  }
  body.home footer{
    position: fixed;
    bottom: 0;
  }  
    
  body.account-info{ 
    background-size: auto  100% , auto 100% , auto 100% !important;
    background-position: left top , center , center  !important;
    background-repeat: no-repeat , no-repeat , no-repeat !important; 
    height: 100%;
  }  
  .account-info main .accountx{
    padding-left: 15px !important;
  }
  .accountx h1 { 
    font-size: 26px;
    line-height: 28px; 
    padding: 14px 20px;
    margin-bottom: 15px;
  }
  .accountx .p-account{
    width: 100%;
  }
  .accountx h6{
    width: 100%;
  }
  .accountx .profile > .row div:first-child img { 
    left: 20px; ;
    width: 60px;
    height: 60px;
  }
  .accountx .profile > .row div:first-child { 
    padding-left: 95px;
  }
  .accountx .profile > .row div:first-child h3 { 
    font-size: 18px;
    line-height: 22px; 
  }
  .accountx .profile > .row div:first-child h4 { 
    font-size: 18px;
    line-height: 22px; 
  }
  .accountx .profile > .row div h4 { 
    margin-bottom: 5px; 
    font-size: 16px;
    line-height: 20px; 
    margin-top: 15px;
  }
  .accountx .profile > .row div h5 { 
    margin-bottom: 10px; 
    font-size: 16px;
    line-height: 20px; 
  }
  .accountx .profile > .row div {
    background: unset !important;
  }
  .subtract{
    line-height: 75px;
  }
  .accountx .des { 
    height: auto;
    padding: 15px 20px; 
    background-size: auto 100% !important;
  }
  .accountx .des p{ 
    margin-bottom: 5px;
    font-size: 13px;
  }
  .accountx .tablex {
    padding: 5px 10px 10px;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: 100% auto !important;
    background: url(../images/clip-bg3.png);
  }
   
  .accountx .tablex .table thead tr th{
    padding: 4px; 
  }
  .main-cha {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
  } 
  .account-info-tele main .accountx{
    padding-left: 15px !important;
  }
  .border-acc { 
    background: transparent !important; 
  }
  .main-acc {
    padding-right: 0px;
  }
  .border-acc { 
    margin-bottom: 30px;  
  }
  .main-cha .sub-cha { 
    width: 100%;
    margin-top: 10px;
  } 
  .main-cha .sub-cha h3 { 
    margin-top: 20px;
  }
  .main-cha .gc {
    width: 100%;
  }
  .border-acc{ 
    min-height: unset;
  }
  body.news-info{
    background: url(../images/mid-page1.png) , url(../images/mid-page2.png) , url(../images/bg-bot-in.png) , url(../images/bg-info.png) ; 
    background-size: 100% 343px , 100% auto , auto 100% , auto 200px  !important;
    background-position: center 389px , bottom center , center 180px , top center   !important; 
  }   
  .main-new-info {
    margin-top: 100px; 
    width: 100%; 
  }
  .main-new-info h1 {
    width: 100%;
    height: 63px;
    background: url(../images/Charac-bg2x.png);
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: 100% auto  !important;
    font-size: 30px;
    line-height: 60px; 
  }
  .main-new-info h2 {
    margin-top: 15px;
    font-family: Kanit-Regular; 
    font-size: 28px;
    line-height: 54px; 
    margin-bottom: 15px;
  }
  .clip-bg {
    height: 200px;
    background: url(../images/clip-bg3x.png);
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: auto 100% !important;
    margin-bottom: 40px;
    padding: 10px; 
  }
  .clip-bg img{
    height: 100%;
  }
  .main-new-info h3 {
    font-size: 20px;
    width: 100%; 
    margin-bottom: 10px; 
    background-size: 100% auto !important;
  }
  .main-new-info p { 
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 33px; 
  }
  .cash-box{
    display: block !important;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
  .cash-box .m .img{ 
    margin-left: auto;
    margin-right: auto; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-size: 100px 100px !important;
  }
  .main-new-info h3 { 
    padding-left: 20px;
  }
  .cash-box .m .img img {  
    height: 80px;
  }
  .cash-box .m::before{
    background: unset !important;
  }
  .footer h5 { 
    font-size: 11px; 
  }
  .footer h6 { 
    font-size: 11px; 
  }
  .cash-box .m::before {
    content: unset !important;
  } 
  body.refill{
    background: url(../images/wallpaperbetter2.png) ; 
    background-size: auto 100%  !important;
    background-position: top center  !important;
    background-repeat: no-repeat !important;  
    height: 100%;
  }  
  .refill main > .container{
    max-width: 100%; 
    margin: 20px auto auto auto;
  }  
  .main-refilll  .pay-type{
    display: block;  
  } 
  .main-refilll  .pay-type .btn{
    display: block; 
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  } 
  .main-refilll input{  
    width: 100%;  
  }
  .main-refilll .exchange{ 
  width: 100%; 
  }
}
@media only screen and (width: 768px) { /* IPAD */
  .main-cha {
    padding-left: 40px;
    padding-right: 40px; 
  }
  .main-acc {
    padding-right: 0px;
    cursor: pointer;
  }
  .navbar .navbar-collapse .navbar-nav .nav-item {
    margin-left: 10px;
    margin-right: 10px;
  }
  .navbar .navbar-collapse .navbar-nav .nav-item .nav-link { 
    border-top: 2px solid transparent;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
  }
  .navbar .navbar-collapse {
    padding-left: 10px;
    padding-right: 10px;
  }
  .border-acc{ 
    min-height: unset;
  }
  .bootstrap-select{
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 363px;
  }
  :not(.input-group)>.bootstrap-select.form-control:not([class*=col-]) {
    width: 363px !important;
  }
  img.character1 {
    height: 344px !important;
    width: auto !important;
  }
  body.home{ 
    background-size: auto 100%  , auto 100%  , auto 100%   !important;  
  }
  body.home header {
    margin-bottom: 50px;
  }
  .home-character {
    overflow: hidden;
    position: absolute;
    width: 300px;
    z-index: 11;
    display: block !important; 
    margin-left: auto !important;
    margin-right: auto !important;
    left: 0;
    right: 0;
  }
  .home-box1 img{
    height: 255px;
  }
  body.login{ 
    background-size: auto 100%  , auto 100%  , auto 100%   !important;  
  } 
  .tabs-news{
    margin-top: 30px;
  }
  .tabs-news li {
    width: 20%;
  }
  .img-view {
    height: 348px;
    padding: 10px;
  }
  body.news-info{
    background: url(../images/mid-page1.png) , url(../images/mid-page2.png) , url(../images/bg-bot-in.png) , url(../images/bg-info.png) ; 
    background-size: 100% auto , 100% auto , auto 100% , 120% auto   !important;
    background-position: center 189px , bottom center , center 280px , top center   !important; 
  }   
  .cash-box{
    display: flex !important;
    margin-left: auto;
    margin-right: auto; 
    margin-bottom: 40px;
  }
  .clip-bg{
    height: 300px;
  }
}
@media only screen and (width: 1024px) { /* IPAD PRO */
  .main-cha {
    padding-left: 40px;
    padding-right: 40px; 
  }
  .main-acc {
    padding-right: 0px;
    cursor: pointer;
  }
  .navbar .navbar-collapse .navbar-nav .nav-item {
    margin-left: 10px;
    margin-right: 10px;
  }
  .navbar .navbar-collapse .navbar-nav .nav-item .nav-link { 
    border-top: 2px solid transparent;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
  }
  .navbar .navbar-collapse {
    padding-left: 10px;
    padding-right: 10px;
  }
  .border-acc{ 
    min-height: unset;
  }  
  main {
    padding-left: 40px;
    padding-right: 40px; 
  }
  body.download{ 
    background-size: auto 100%  , auto 100%  , auto 100%   !important; 
    height: 100% !important;
    overflow: unset !important;
  }
  .box-file-download img {
    width: 125px;
  }
  .file-program li span {
    padding-left: 1px;
    padding-right: 20px;
  }
  body.game-info{ 
    background-size: auto 100%  , auto 100%  , auto 100%   !important; 
    height: 100% !important;
    overflow: unset !important;
  }
  img.character1 {
    height: 344px !important;
    width: auto !important;
  }
  .game-info footer{
    position: relative;
    margin-top: 50px;
  }
  body.home{ 
    background-size: auto 100%  , auto 100%  , auto 100%   !important;  
  }
  body.home header {
    margin-bottom: 50px;
  }
  .home-character {
    overflow: hidden;
    position: relative;
    width: 500px;
    z-index: 11;
    display: block;
    margin-top: 0px; 
    margin-left: auto;
    margin-right: auto;
  }
  body.login{ 
    background-size: auto 100%  , auto 100%  , auto 100%   !important;  
  } 
  .login-box { 
    margin-top: 120px;
    display: block;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 0px 50px 50px;
  }
  body.news{ 
    background-size: auto 100%  , auto 100%  , auto 100%   !important;  
    overflow: unset !important;
    height: 100%;
  } 
  .img-patch {
    height: unset !important;
  }
  .news footer{
    position: relative;
    margin-top: 50px;
  } 
  body.news-info{
    background: url(../images/mid-page1.png) , url(../images/mid-page2.png) , url(../images/bg-bot-in.png) , url(../images/bg-info.png) ; 
    background-size: 100% 343px , 100% auto , auto 100% , 110% auto  !important;
    background-position: center 200px , bottom center , center 280px , top center   !important; 
  }   
  .clip-bg {
    height: 100%;
  }
  .main-new-info{
    width: 100%;
    margin-top: 100px;
  }
}
@media only screen and (max-width: 380px) { /* MOBILE */  
  .home-character { 
    width: 70%; 
    margin: auto;
    display: block;
    margin-top: 0px;
    left: 0;
    right: 0; 
  } 
  .home-box1 { 
    top: 71px;
  }
  .home-box1 .img-fluid {
    max-width: 89%;
    height: auto;
  }
  .home-box2{
    bottom: -60px;
  }
  .social-mediaf a img {
    width: 25px;
    margin-right: 15px;
    margin-top: -30px;
  }
  .login-box h1 { 
    font-size: 26px;
    line-height: 30px; 
    margin-bottom: 10px;
  }
  .login-box form input { 
    height: 40px; 
    background-size: 100% 40px !important; 
    margin-bottom: 10px;
  }
  .login-box form .forgot { 
    font-size: 16px;
    line-height: 20px; 
  }
  .login-box form label { 
    font-size: 16px;
    line-height: 20px; 
  }
  .login-box form .btn {
    font-size: 16px;
    height: 35px;
    line-height: 20px;
  }
  .social-media h3 {
    margin-top: -10px;
    font-size: 18px;
    margin-bottom: 5px;
  }
}